Repository milahu/NUR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Mic92, @zimbatm, @Infinisil

.github/CODEOWNERS:

# CODEOWNERS file
#
# For documentation on this file,
# see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @Mic92

# python
/bin @Mic92
/nur @Mic92
/setup.py @Mic92

# CI
/ci @Mic92 @zimbatm

# nix
/lib @Infinisil

automatic update
  repos.json.lock
Owners: none

automatic update
  repos.json.lock
Owners: none

automatic update
  repos.json.lock
Owners: none

automatic update
  repos.json.lock
Owners: none

automatic update
  repos.json.lock
Owners: none

add wolfangaukang repository
  repos.json
Owners: none

add wolfangaukang repository
  repos.json
Owners: none

automatic update
  repos.json.lock
Owners: none

remove travis secrets
  ci/keys.tar.gz.enc
Owners: @Mic92, @zimbatm

drop irc notifications
  bin/nur
  nur/__init__.py
  nur/combine.py
  nur/irc_notify.py
  setup.py
Owners: @Mic92
